.search {
  background-color: salmon;
  margin-bottom: 20px;
}
.form {
  position: relative;
  margin: 0 auto;
  height: 48px;
  max-width: 400px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 35px;
  border-radius: 8px;
  border: 1px solid white;
}

.searchBtn {
  position: absolute;
  top: 55%;
  left: 8px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}
